---
layout: default
---

<div class="home">

  <h1 class="page-heading">Welcome to the PRAGMA Operations Center </h1>

  <p>This website is a collection of user guides and
     technical documentation used by PRAGMA projects and experiments.
  </p>

<!--
  {% for collection in site.collections %}
    {% if collection.label != 'posts'  %}
       <h3>All documents listed in collection '{{ collection.label}}'</h3>
       {% assign Collection = site.collections | where: "label", collection.label | first %}
       {% for doc in Collection.docs %}
         <li> <a href="{{ site.url }}{{ doc.url }}">{{ doc.title }}</a> </li>
       {% endfor %}
       <hr>
    {% endif %}
  {% endfor %}
-->
</div>

<hr>

<div class="contact">
  <h1 class="page-heading">Contacts </h1>
    <h3>Mailing lists</h1>
    <ul class="contacts">
	   <li>Whole PRAGMA community: <a href="mailto:{{ site.email }}">Pragma Discussion</a></li>
       <li>Cloud site dministrators: <a href="mailto:pragma-cloud-admin@googlegroups.com">PRAGMA Cloud admin </a></li>
	   <li>Grid site administrators: <a href="mailto:pragma-grid-adm@googlegroups.com">PRAGMA Grid admin</a></li>
	   <li>Grid users and site admins: <a href="mailto:pragma-grid-team@googlegroups.com">PRAGMA Grid team</a></li>
	   <li>Resources Working Group: <a href="mailto:pragma-grid-team@googlegroups.com">Resources group</a></li>
	   <li>Geoscience Working Group: <a href="mailto:pragma-geoscience@googlegroups.com">Geoscience group</a></li>
	   <li>Bioscience Working Group: <a href="mailto:pragma-bioscience-working-group@googlegroups.com">Bioscience group</a></li>
    </ul>
</div>

