---
layout: default
---

<div class="home">

  <h1 class="post-title">Welcome </h1>

  <p>
     <img src="/images/welcome.png" class="img-left" alt="" /></a>
     The Pacific Rim Application and Grid Middleware Assembly (PRAGMA) is a
     community of practice comprising individuals and institutions from around
     the Pacific Rim that actively collaborate with, and enable, small- to
     medium-sized groups to solve their problems with information technology.
     Key to PRAGMA's success is the active involvement of participants in
     scientific expeditions, technology development, student engagement, and
     outreach to new communities.
  </p>
  <p>
     Attending our workshops is an ideal way to become familiar with what
     PRAGMA does, and how we interact as a community of trust. We invite you,
     your students and colleagues to explore this site, visit our partner
     sites, and attend future workshops (which do not carry a registration
     fee). We look forward to seeing you there!
  </p>

  <h1 class="post-title">About</h1>

  <p>
  The Pacific Rim Application and Grid Middleware Assembly (PRAGMA)
  is an <strong>international, distributed center of excellence</strong> for
  technology and approaches that supports the long tail of science, namely small
  to medium sized distributed groups, to conduct collaborations and develop
  researchers. PRAGMA:
        <ul>
          <li>Develops practical approaches and software to enable
              user-defined trust envelops that link together, securely and efficiently,
              distributed data and compute resources </li>
          <li>Forges collaborative, multidisciplinary teams to address
              scientific questions of high societal impact that define, take advantage of,
              and develop the software tools</li>
          <li>Offers distributed graduate student seminars on technology and
              supports building of collaboration skills in the graduate students by
              developing peer mentoring networks</li>
          <li>Provides training for communities new to this technology to
             promote greater collaboration and education opportunities</li>
        </ul>
  </p>

  <p><a href="/images/pdf/operating-principles.pdf" target="_blank"
  title="Operating Principles"> Operating Principles and Procedures</a>
  </p>

  <h1 class="post-title">Scientific Expeditions</h1>

  <p>
  PRAGMA forges collaborative, multidisciplinary teams to address scientific
  questions of high societal impact. These questions define and drive PRAGMA's
  technology development efforts. There are three current expeditions:
  <ul>
    <li>Understanding adaption in extreme environments</li>
    <li>Predicting impact of eutrophication on lake ecosystem services </li>
    <li>Addressing infectious disease through computer aided drug discovery</li>
  </ul>
  </p>
<!--
  {% for collection in site.collections %}
    {% if collection.label != 'posts'  %}
       <h3>All documents listed in collection '{{ collection.label}}'</h3>
       {% assign Collection = site.collections | where: "label", collection.label | first %}
       {% for doc in Collection.docs %}
         <li> <a href="{{ site.url }}{{ doc.url }}">{{ doc.title }}</a> </li>
       {% endfor %}
       <hr>
    {% endif %}
  {% endfor %}
-->
</div>

