
  <div class="quicklinks">
        <div class="ql-entry"  text-align="center">
            <h4>Upcoming Events </h4> 
        </div>

<!--
        <div class="ql-entry">
            <p><a href="/news" title="CANS 2016">&raquo; CANS 2016</a><br>
            October 17-19, 2016<br>
            RICE University, Houston, USA<br>
            </p>
        </div>
-->

        <div class="ql-entry">
            <p><a href="/news" title="PRAGMA 32">&raquo; PRAGMA 32</a><br>
            April 12-14, 2017<br>
            University of Florida, Gainesville, USA<br>
            </p>
        </div>

  </div>
