
  <div class="quicklinks">
        <div class="ql-entry"  text-align="center">
            <h4>Upcoming Events </h4> 
        </div>

<!--
        <div class="ql-entry">
            <a href="/news" title="SUNTOWNS ">&raquo; SUNTOWNS (Smart UNIversity TOWNS) Workshop</a><br>
            April 12, 2017<br>
            University of Florida, Gainesville, Florida USA<br><hr>
        </div>
-->
        <div class="ql-entry">
            <a href="/news" title="eResearch 2017">&raquo; eResearch 2017</a><br>
            October  16-20, 2017<br>
            The University of Queensland, Brisbaine, Australia<br><hr>
        </div>

        <div class="ql-entry">
            <a href="/news" title="PRAGMA 33">&raquo; PRAGMA 33</a><br>
            October  18-20, 2017<br>
            The University of Queensland, Brisbaine, Australia<br><hr>
        </div>

  </div>
