<ul>    
  <li><a class="DPage" href="/pragma32-welcome">Welcome</a></li>
  <li><a class="DPage" href="/pragma32-ImportantDates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma32-program">Program</a></li>
  <li><a class="DPage" href="/pragma32-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma32-CallForPosters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma32-CallForDemos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma32-VisaLetters">Visa Letters</a></li>
  <li><a class="DPage" href="/pragma32-Travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma32-venue">Location/Venue</a></li>    
  <li><a class="DPage" href="/pragma32-accommodations">Accommodations</a></li>    
  <li><a class="DPage" href="/pragma32-SponsorsAndPartners">Sponsors and Partners</a></li>
  <li><a class="DPage" href="/pragma32-contact">Contact</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website</a></li>
</ul>

