<ul>    
  <li><a class="DPage" href="/pragma32">Home</a></li>
  <li><a class="DPage" href="/pragma32-program">Program</a></li>
  <li><a class="DPage" href="/pragma32-speakers">Invited Speakers</a></li>
  <li><a class="DPage" href="/pragma32-committee">Organizing Committee</a></li>    
  <li><a class="DPage" href="/pragma32-venue">Venue</a></li>    
  <li><a class="DPage" href="/pragma32-accommodations">Accommodations</a></li>    
  <li><a class="DPage" href="/pragma32-contact">Contact</a></li>    
  <li><a class="DPage" href="/pragma32-registration">Registration</a></li>
</ul>

