<ul>    
  <li><a class="DPage" href="/pragma33-welcome">Welcome</a></li>
  <li><a class="DPage" href="/pragma33-ImportantDates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma33-program">Program</a></li>
  <li><a class="DPage" href="/pragma33-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma33-CallForPosters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma33-CallForDemos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma33-VisaLetters">Visa Letters</a></li>
  <li><a class="DPage" href="/pragma33-Travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma33-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragma33-SponsorsAndPartners">Sponsorship</a></li>
  <li><a class="DPage" href="/pragma33-contact">Contacts</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website</a></li>
</ul>
