
  <div class="quicklinks">
        <div class="ql-entry"  text-align="center">
            <h4>Quick Links </h4> 
        </div>
        <div class="ql-entry">
            <a href="/overview" title="PRAGMA Overview">&raquo; PRAGMA Overview</a>
        </div>
        <div class="ql-entry">
            <a href="/benefits" title="Benefits">&raquo; Benefits</a>
        </div>
        <div class="ql-entry">
            <a href="/people" title="Participants">&raquo; Participants</a>
        </div>
        <div class="ql-entry">
            <a href="/leadership" title="Leadership">&raquo; Leadership</a>
        </div>
        <!--
        <div class="ql-entry">
            <p><a href="/images/pdf/operating-principles.pdf" target="_blank" title="Operating Principles">&raquo; Operating Principles</a></p>
        </div>
        -->
        <div class="ql-entry">
            <a href="/sponsors" title="Sponsors">&raquo; Sponsors</a>
        </div>
        <div class="ql-entry">
            <a href="/contacts" title="Contacts">&raquo; Contacts</a>
        </div>
        <div class="ql-entry">
            <p><a
			href="http://fiji.rocksclusters.org/cloud-scheduler/testbed-map"
			title="Testbed Status">&raquo; Testbed Status</a></p>
        </div>
  </div>
