
  <div class="quicklinks">
        <div class="ql-entry"  text-align="center">
            <h4>Quick Links </h4> 
        </div>
        <div class="ql-entry">
            <p><a href="/overview" title="PRAGMA Overview">&raquo; PRAGMA Overview</a></p>
        </div>
        <div class="ql-entry">
            <p><a href="/benefits" title="Benefits">&raquo; Benefits</a></p>
        </div>
        <div class="ql-entry">
            <p><a href="/people" title="People">&raquo; People</a></p>
        </div>
        <div class="ql-entry">
            <p><a href="/leadership" title="Leadership">&raquo; Leadership</a></p>
        </div>
        <!--
        <div class="ql-entry">
            <p><a href="/images/pdf/operating-principles.pdf" target="_blank" title="Operating Principles">&raquo; Operating Principles</a></p>
        </div>
        -->
        <div class="ql-entry">
            <p><a href="/sponsors" title="Sponsors">&raquo; Sponsors</a></p>
        </div>
        <div class="ql-entry">
            <p><a href="/contacts" title="Contacts">&raquo; Contacts</a></p>
        </div>
  </div>
