/* colors */
$white: #fff;
$blue:       #455979;
$blue-light: lighten($blue, 25%);
$blue-dark:  darken($blue, 25%);
$orange: #e55909;
$teal-dark: #196b89;
$teal-light: #379bbf;
$grey: #667788;
$grey-light: #fafafa;

.center-image { margin: 0 auto; display: block; }
.strongword { font-weight: 500; color: $teal-dark; }
.border { color: $orange; background-color: #eee; font-weight: 700; }

/* meetings table */
.meeting { padding: 0; }
.meeting td { padding: 10px 15px 10px 5px; }

/*  for a defualt layout column-left for content and column-right for links */
.column-left { border: 0px solid red; width:80%; float:left; line-height:18px; padding-top: 2px; }
.column-right { border: 0px solid green; width:20%; float:right; padding-top: 2px; }

.quicklinks {background:$grey-light; margin-bottom:20px;}
.ql-entry {width:96%; margin: 0; padding: 0 0 0 5px;}      
.ql-entry p {font-size:14px; color:$teal-dark;} 
.ql-entry h4 {padding:0 0 0 0px;  color:$white; font-weight:bold; background: $teal-dark;text-align:center} 
.ql-entry a:link, .ql-entry a:visited  { color:$teal-light; text-decoration:none; outline:none; }
.ql-entry a:hover, .ql-entry a:active  { color:$teal-dark; text-decoration:none; outline:none; }

/* people images */
img.thum-left { float:left; margin: 0 10px 0 0; width: 100px; }
img.thum-right { float:right; margin: 0 10px 0 0;  width: 100px;}

/* page images */
img.img-left { float:left; margin:0 10px 0 0; }
img.img-right { float:right; margin:0 0 0 10px; }

/* overview images */
.collab {float:left; margin:10px 20px 10px 12px;}
.collab p {margin:0; padding:0;}
.collab-container img {float:left;}
div.clear   { clear:both; height:.01em; overflow:hidden; }

/* news markup */
.dates { color:$teal-dark; font-weight:bold; font-size: 14px; text-align:center; }
.smalltitle { font-weight: 600; color: $blue-dark; }

/* pragma31 hackathon teams  */
.teams { float: right; height:  90px; clear: both; }

