/* colors */
$white: #fff;
$blue:       #455979;
$blue-light: lighten($blue, 25%);
$blue-dark:  darken($blue, 25%);
$orange: #e55909;
$teal-dark: #196b89;
$teal-light: #379bbf;
$grey: #667788;
$grey-light: #fafafa;

.center-image { margin: 0 auto; display: block; }
.strongword { font-weight: 500; color: $teal-dark; }
.border { color: $orange; background-color: #eee; font-weight: 700; }

/* meetings table */
.meeting { padding: 0; }
.meeting td { padding: 10px 15px 10px 5px; }

/*  for a defualt layout column-left for content and column-right for links */
.column-left { border: 0px solid red; width:80%; float:left; line-height:18px; padding-top: 2px; }
.column-right { border: 0px solid green; width:20%; float:right; padding-top: 2px; }

.quicklinks {background:$grey-light; margin-bottom:20px;}
.ql-entry {width:96%; margin: 0; padding: 0 0 0 5px;}      
.ql-entry p {font-size:14px; color:$teal-dark;} 
.ql-entry h4 {padding:0 0 0 0px;  color:$white; font-weight:bold; background: $teal-dark;text-align:center} 
.ql-entry a:link, .ql-entry a:visited  { color:$teal-light; text-decoration:none; outline:none; }
.ql-entry a:hover, .ql-entry a:active  { color:$teal-dark; text-decoration:none; outline:none; }

/* people images */
img.thum-left { float:left; margin: 0 10px 0 0; width: 100px; }
img.thum-right { float:right; margin: 0 10px 0 0;  width: 100px;}

/* page images */
img.img-left { float:left; margin:0 10px 0 0; }
img.img-right { float:right; margin:0 0 0 10px; }

/* overview images */
.collab {float:left; margin:10px 20px 10px 12px;}
.collab p {margin:0; padding:0;}
.collab-container img {float:left;}
div.clear   { clear:both; height:.01em; overflow:hidden; }

/* news markup */
.dates { color:$teal-dark; font-weight:bold; font-size: 14px; text-align:center; }
.smalltitle { font-weight: 600; color: $blue-dark; }

/* pragma31 hackathon teams  */
.teams { float: right; height:  90px; clear: both; }

/* pragma 32 styles */


/* page with  menu left and content right */
.wrapper-menu-left {
    border: 0px solid black; /*for debugging*/
    position: relative;
    width:90%;
    margin: 0 auto;
}
.menu-left {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 0px solid blue; width:17%; float:left; line-height:18px;
  padding-top: 2px; overflow:hidden; min-height:400px;
  margin-left: -35px;
}
.content-right {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 0px solid green; width:83%; float:left; line-height:18px;
  padding-top: 2px;  margin: 0; overflow:hidden; min-height:200px;
}
.menu-left ul { list-style:none; }

$green1: #11564A;
$green2: darken($green1, 25%);
$green3: #abeacb;
$pink1: #cf1f46;
$pink2: #ffc6d5;
$paleblue1: #F5FAFF;
$paleblue2: #E6F2FF;

.pragma32nav {
	width:100%;
    background-color: $green3;
    float: right;
    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    .menu-icon { display: none; }
    .page-link {
        color: $green1;
        &:visited { color: $green2; }
        &:hover { color: $pink1; }
        line-height: $base-line-height;
		margin-left: 40px; 
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon { display: block; float: right; width: 36px;
            height: 26px; line-height: 0; padding-top: 10px; text-align: center;
            > svg { width: 18px; height: 15px; path { fill: $grey-color-dark; } }
        }
        .trigger { clear: both; display: none; }
        &:hover .trigger { display: block; padding-bottom: 5px; }
        .page-link { display: block; padding: 5px 10px; }
    }
}

/* for program table */
.program32  { padding: 2px; width: 60%; }
.program32 th { font-weight: bold; color: $green2;  font-size: 12px; background: $green3;}
.program32 tr { border: 2px solid white; }
.program32 tr:hover { background-color: #f5f5f5 }
.program32 tr:nth-child(odd) { background-color : $paleblue1; }
.program32 tr:nth-child(even) { background-color : $paleblue2; }
.program32 td { padding : 5px 2px 5px 10px; }
.program32 tr td:nth-child(1) { font-weight : bold; }

