/* pragma 32 styles */

@mixin ($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

$pragma32-large: 1200px;
$pragma32-medium: 992px;
$pragma32-small: 768px;

/* Base class for layout */
body.pragma32 {
    
}

body.pragma32 header img {
    width: 100%
}

/* page with  menu left and content right */
body.pragma32 .wrapper-menu-left {
    border: 0px solid black; /*for debugging*/
    position: relative;
    margin: 0 auto;
    @include pragma32-media-query($pragma32-large) {
        width: 1170px;
    }
    @include pragma32-media-query($pragma32-medium) {
        width: 970px;
    }
    @include pragma32-media-query($pragma32-small) {
        width: 750px;
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon { display: block; float: right; width: 36px;
            height: 26px; line-height: 0; padding-top: 10px; text-align: center;
            > svg { width: 18px; height: 15px; path { fill: $grey-color-dark; } }
        }
        .trigger { clear: both; display: none; }
        &:hover .trigger { display: block; padding-bottom: 5px; }
        .page-link { display: block; padding: 5px 10px; }
    }
}
body.pragma32 .menu-left {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 0px solid blue; width:17%; float:left; line-height:18px;
  padding-top: 2px; overflow:hidden; min-height:400px;
  margin-left: -35px;
}
body.pragma32 .content-right {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 0px solid green; width:83%; float:left; line-height:18px;
  padding-top: 2px;  margin: 0; overflow:hidden; min-height:200px;
}
body.pragma32 .menu-left ul { list-style:none; }

$green1: #11564A;
$green2: darken($green1, 25%);
$green3: #abeacb;
$pink1: #cf1f46;
$pink2: #ffc6d5;
$paleblue1: #F5FAFF;
$paleblue2: #E6F2FF;

body.pragma32 nav {
	width:100%;
    background-color: $green3;
    float: right;
    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    .menu-icon { display: none; }
    .page-link {
        color: $green1;
        &:visited { color: $green2; }
        &:hover { color: $pink1; }
        line-height: $base-line-height;
		margin-left: 40px; 
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon { display: block; float: right; width: 36px;
            height: 26px; line-height: 0; padding-top: 10px; text-align: center;
            > svg { width: 18px; height: 15px; path { fill: $grey-color-dark; } }
        }
        .trigger { clear: both; display: none; }
        &:hover .trigger { display: block; padding-bottom: 5px; }
        .page-link { display: block; padding: 5px 10px; }
    }
}

/* for program table */
body.pragma32 .program32  { padding: 2px; width: 60%; }
body.pragma32 .program32 th { font-weight: bold; color: $green2;  font-size: 12px; background: $green3;}
body.pragma32 .program32 tr { border: 2px solid white; }
body.pragma32 .program32 tr:hover { background-color: #f5f5f5 }
body.pragma32 .program32 tr:nth-child(odd) { background-color : $paleblue1; }
body.pragma32 .program32 tr:nth-child(even) { background-color : $paleblue2; }
body.pragma32 .program32 td { padding : 5px 2px 5px 10px; }
body.pragma32 .program32 tr td:nth-child(1) { font-weight : bold; }

