---
layout: default
---

<h2>People</h2>

{% assign pages = site.[page.short] | sort: "title" %}

<table width="100%">

<tr>
  <th><div class="border">Steering Committee</div> </th>
  <th><div class="border">Researchers</div> </th>
  <th><div class="border">Students</div> </th>
</tr>

<tr>
<td width="34%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'steering-list' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current members</a> </li>
    {% endif %}
  {% endfor %}
  {% for post in pages %}
    {% if post.categories[0] == 'ex-steering' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Ex-officio members</a> </li>
    {% endif %}
  {% endfor %}
</ul>
</td>

<td width="33%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'researcher-list' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current researchers</a> 
      </li>
    {% endif %}
  {% endfor %}
  {% for post in pages %}
    {% if post.categories[0] == 'ex-researchers' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">{{post.firstname}} {{ post.title }}</a> 
      </li>
    {% endif %}
  {% endfor %}
</ul>
</td>

<td width="33%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'students' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}"> Current students</a> 
      </li>
    {% endif %}
  {% endfor %}

  {% for post in pages %}
    {% if post.categories[0] == 'ex-students' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Alumni students</a> 
      </li>
    {% endif %}
  {% endfor %}
</ul>
</td>
</tr>
</table>

<h2>Members and Partners</h2>

<p>PRAGMA is an institution-based organization. Institutions and members at those institutions provide resources 
to participate in working groups, and agree to host PRAGMA workshops. There are varied 
<a href="/benefits">benefits</a> accruing to participating institutions. 
</p>

<p>Active participation is the key to membership. We encourage interested
individuals to attend a working meeting prior to discussion of membership at the institutional level.
Please see a list of <a href="/additional-organizations">Additional Organizations </a> active in PRAGMA.
</p>

<p>Below is a map of PRAGMA institutions; to reach each institution's website for more information, 
click on the name. </p>

<p>
<div id="members-map">
  <img src="/images/members-map.jpg" usemap="#members" border="0" />
  <map name="members" id="members">
  <area shape="rect" coords="18,141,72,161" href="http://www.uohyd.ernet.in/" target="_blank" title="University of Hyderabad" />          
  <area shape="rect" coords="78,174,145,186" href="http://www.ku.ac.th/aboutku/english/institutions/index.html" target="_blank" title="Kasetsart
University" />
  <area shape="rect" coords="70,191,149,205" href="http://www.tu.ac.th/en/" target="_blank" title="Thammasat University" />
  <area shape="rect" coords="61,205,147,221" href="http://www.usm.my/bm/" target="_blank" title="Universiti Sains Malaysia" />
  <area shape="rect" coords="135,141,163,152" href="http://www.ioit.ac.vn/" target="_blank" title="IOIT" />
  <area shape="rect" coords="131,113,214,127" href="http://www.hku.hk/" target="_blank" title="Hong Kong University" />
  <area shape="rect" coords="137,60,181,177" href="http://www.cnic.ac.cn/english/" target="_blank" title="CNIC" />
  <area shape="rect" coords="162,28,208,42" href="http://en.jlu.edu.cn/index.php" target="_blank" title="Jilin University" />
  <area shape="rect" coords="176,91,241,105" href="http://www.konkuk.ac.kr:8001/eng/" target="_blank" title="Konkuk University" />
  <area shape="rect" coords="187,171,226,188" href="http://icst.org.vn" target="_blank" title="ICST" />
  <area shape="rect" coords="155,156,209,171" href="http://www.nectec.or.th/2007/" target="_blank" title="NECTEC" />
  <area shape="rect" coords="165,224,272,233" href="http://www.utm.my" target="_blank" title="Universiti Teknologi Malaysia" />
  <area shape="rect" coords="159,205,191,218" href="http://www.mimos.my/" target="_blank" title="MIMOS" />
  <area shape="rect" coords="192,56,227,71" href="http://www.kisti.re.kr/english/" target="_blank" title="KISTI" />
  <area shape="rect" coords="225,117,255,124" href="http://www.sinica.edu.tw/main_e.shtml" target="_blank" title="ASGCC" />
  <area shape="rect" coords="225,138,277,152" href="http://www.nchc.org.tw/en/" target="_blank" title="NCHC" />
  <area shape="rect" coords="232,68,271,84" href="http://www.naist.jp/en/" target="_blank" title="NAIST" />
  <area shape="rect" coords="229,165,268,175" href="http://www.asti.dost.gov.ph/" target="_blank" title="ASTI" />
  <area shape="rect" coords="256,93,309,112" href="http://www.osaka-u.ac.jp/eng/" target="_blank" title="Osaka University" />
  <area shape="rect" coords="273,75,303,85" href="http://www.nict.go.jp/en/about/" target="_blank" title="NICT" />
  <area shape="rect" coords="279,64,345,77" href="http://www.ccs.tsukuba.ac.jp/ccs/" target="_blank" title="University of Tsukuba" />
  <area shape="rect" coords="274,46,307,58" href="http://www.aist.go.jp/index_en.html" target="_blank" title="AIST" />
  <area shape="rect" coords="231,389,276,401" href="http://www.monash.edu.au/" target="_blank" title="Monash University" />
  <area shape="rect" coords="330,359,422,371" href="http://www.rcc.uq.edu.au/" target="_blank" title="University of Queensland" />
  <area shape="rect" coords="52,256,178,274" href="http://www.ui.ac.id" target="_blank" title="Universitas Indonesia" />
  <area shape="rect" coords="441,82,525,105" href="http://www.ucsd.edu/" target="_blank" title="UC San Diego" />
  <area shape="rect" coords="562,22,640,39" href="http://www.wisc.edu/" target="_blank" title="University of Wisconsin" />
  <area shape="rect" coords="566,59,613,69" href="http://www.ku.edu/ " target="_blank" title="University of Kansas" />
  <area shape="rect" coords="594,68,651,85" href="http://www.indiana.edu/ " target="_blank" title="Indiana University" />
  <area shape="rect" coords="659,69,702,74" href="http://internationalnetworking.iu.edu/initiatives/transpac3/index.html" target="_blank"
title="TransPAC3" />
  <area shape="rect" coords="647,105,710,125" href="http://www.ufl.edu/" target="_blank" title="University of Florida" />
  <area shape="rect" coords="173,140,198,151" href="http://en.hust.edu.vn/home" target="_blank" title="HUST" />
  <area shape="rect" coords="238,57,269,66" href="http://www.apan.net/ " target="_blank" title="APAN" />
  <area shape="rect" coords="270,88,325,94" href="http://www.titech.ac.jp/home.html" target="_blank" title="GSIC/TITECH" />
  <area shape="rect" coords="399,395,498,407" href="https://www.nesi.org.nz" target="_blank" title="NZ eScience Infrastructure" />
  <area shape="rect" coords="487,26,541,40" href="http://www.pnw-gigapop.net/" target="_blank" title="Pacific Wave" />
  <area shape="rect" coords="646,33,739,50" href="http://www.startap.net/" target="_blank" title="StarLight and TransLight" />
  </map>
</div>
</p>



<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>

