---
layout: default
---

<section class="bg-dark">
    <h1>{{ page.title }}</h1>
</section>

{% assign base = 'https://github.com/pragmagrid/pragma-historic/tree/master/pragma-doc' %}

<section id="services">
  <div class="container">
    <div class="row">
      <!--{% for service in site.music %} {% endfor %} -->
      <table class="meeting">
        {% for service in site.[page.short] reversed %}
        <tr>
          <td>
            {% if service.imagesrc %}
               <img src="/images/workshops/{{service.imagesrc}}" alt="" class=""/>
	        {% endif %}
          </td>
          <td>
            <span class="strongword">{{ service.title }} </span><br>
            {{ service.meeting_date }}<br>
            {% if service.presentations %}
                <a href="{{ base }}" title="{{ service.title }}">presentations </a>
	        {% else %}
                <a href="{{ service.url }}" title="{{ service.title }}">presentations </a>
	        {% endif %}
            {% if service.meeting_url  != "" %}
               |  <a href="{{ service.meeting_url }}" title="{{ service.title }}">website</a> 
	        {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</section>

<div class="container">
  <br/>Presentations for PRAGMA meeting prior to the PRAGMA 24 are
  linked the archive in the git repository. <br/><br/>
</div>

<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>



