---
layout: default
---

<section class="bg-dark">
    <h1>{{ page.title }}</h1>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <!--{% for service in site.music %} {% endfor %} -->
      <table class="meeting">
        {% for service in site.[page.short] reversed %}
        <tr>
          <td class="strongword">
            {{ service.title }} 
          </td>
          <td>
            {{ service.meeting_date }}
          </td>
          <td>
              <a href="{{ service.url }}" title="{{ service.title }}">presentations </a> |  
              <a href="{{ service.meeting_url }}" title="{{ service.title }}">website</a> 
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</section>

<div class="container">
  <br/>For earlier meetings please see <a href="/archive">Archive</a> <br/><br/>
</div>

<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>
