---
layout: default
---

<h2>People</h2>

{% assign pages = site.[page.short] | sort: "title" %}

<table width="100%">

<tr>
  <th><div class="border">Steering Committee</div> </th>
  <th><div class="border">Researchers</div> </th>
  <th><div class="border">Students</div> </th>
</tr>

<tr>
<td width="34%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'steering-list' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current members</a> </li>
    {% endif %}
  {% endfor %}
  {% for post in pages %}
    {% if post.categories[0] == 'ex-steering' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Ex-officio members</a> </li>
    {% endif %}
  {% endfor %}
</ul>
</td>

<td width="33%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'researcher-list' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current researchers</a> 
      </li>
    {% endif %}
  {% endfor %}
  {% for post in pages %}
    {% if post.categories[0] == 'ex-researchers' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">{{post.firstname}} {{ post.title }}</a> 
      </li>
    {% endif %}
  {% endfor %}
</ul>
</td>

<td width="33%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'students' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}"> Current students</a> 
      </li>
    {% endif %}
  {% endfor %}

  {% for post in pages %}
    {% if post.categories[0] == 'ex-students' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Alumni students</a> 
      </li>
    {% endif %}
  {% endfor %}
</ul>
</td>
</tr>
</table>

<h2>Members and Partners</h2>

<p>PRAGMA is an institution-based organization. Institutions and members at those institutions provide resources 
to participate in working groups, and agree to host PRAGMA workshops. There are varied benefits accruing to 
participating institutions. Since membership is at institutional level; benefits include
setting future directions of research and development, testing new software and technologies, accessing 
resources for development and application, providing students opportunities for research and leadership 
opportunities, hosting workshops, building longer-term collaborations, and much more. 
To learn more, <a href="/benefits">see benefits</a>.
</p>

<p>Active participation is the key to membership. We encourage interested
individuals to attend a working meeting prior to discussion of membership at the institutional level.</p> 

<p>Below is a map of PRAGMA institutions; to reach each institution's website for more information, 
click on the name. </p>

<div id="members-map">
  <img src="/images/members-map.jpg" usemap="#hyderabad" border="0" />
  <map name="hyderabad" id="hyderabad">
  <area shape="rect" coords="13,224,96,244" href="http://www.uohyd.ernet.in/" target="_blank" title="University of Hyderabad" />          
  <area shape="rect" coords="74,259,152,274" href="http://www.ku.ac.th/aboutku/english/institutions/index.html" target="_blank" title="Kasetsart
University" />
  <area shape="rect" coords="67,274,156,292" href="http://www.tu.ac.th/en/" target="_blank" title="Thammasat University" />
  <area shape="rect" coords="61,290,157,309" href="http://www.usm.my/bm/" target="_blank" title="Universiti Sains Malaysia" />
  <area shape="rect" coords="125,219,163,236" href="http://www.ioit.ac.vn/" target="_blank" title="IOIT" />
  <area shape="rect" coords="131,198,214,214" href="http://www.hku.hk/" target="_blank" title="Hong Kong University" />
  <area shape="rect" coords="137,145,181,163" href="http://www.cnic.ac.cn/english/" target="_blank" title="CNIC" />
  <area shape="rect" coords="162,113,208,131" href="http://en.jlu.edu.cn/index.php" target="_blank" title="Jilin University" />
  <area shape="rect" coords="176,178,241,195" href="http://www.konkuk.ac.kr:8001/eng/" target="_blank" title="Konkuk University" />
  <area shape="rect" coords="173,220,214,238" href="http://en.hust.edu.vn/home" target="_blank" title="HUST" />
  <area shape="rect" coords="187,258,226,280" href="http://icst.org.vn" target="_blank" title="ICST" />
  <area shape="rect" coords="155,243,215,260" href="http://www.nectec.or.th/2007/" target="_blank" title="NECTEC" />
  <area shape="rect" coords="165,308,282,325" href="http://www.utm.my" target="_blank" title="Universiti Teknologi Malaysia" />
  <area shape="rect" coords="159,287,210,306" href="http://www.mimos.my/" target="_blank" title="MIMOS" />
  <area shape="rect" coords="192,140,232,159" href="http://www.kisti.re.kr/english/" target="_blank" title="KISTI" />
  <area shape="rect" coords="225,200,279,219" href="http://www.sinica.edu.tw/main_e.shtml" target="_blank" title="ASGCC" />
  <area shape="rect" coords="225,221,277,241" href="http://www.nchc.org.tw/en/" target="_blank" title="NCHC" />
  <area shape="rect" coords="232,154,271,174" href="http://www.naist.jp/en/" target="_blank" title="NAIST" />
  <area shape="rect" coords="229,245,268,265" href="http://www.asti.dost.gov.ph/" target="_blank" title="ASTI" />
  <area shape="rect" coords="256,182,320,199" href="http://www.osaka-u.ac.jp/eng/" target="_blank" title="Osaka University" />
  <area shape="rect" coords="273,161,314,172" href="http://www.nict.go.jp/en/about/" target="_blank" title="NICT" />
  <area shape="rect" coords="279,147,347,164" href="http://www.ccs.tsukuba.ac.jp/ccs/" target="_blank" title="University of Tsukuba" />
  <area shape="rect" coords="274,130,320,148" href="http://www.aist.go.jp/index_en.html" target="_blank" title="AIST" />
  <area shape="rect" coords="212,474,288,496" href="http://www.monash.edu.au/" target="_blank" title="Monash University" />
  <area shape="rect" coords="321,442,428,460" href="http://www.rcc.uq.edu.au/" target="_blank" title="University of Queensland" />
  <area shape="rect" coords="52,339,187,366" href="http://www.ui.ac.id" target="_blank" title="Universitas Indonesia" />
  <area shape="rect" coords="436,165,525,190" href="http://www.ucsd.edu/" target="_blank" title="UC San Diego" />
  <area shape="rect" coords="562,107,640,125" href="http://www.wisc.edu/" target="_blank" title="University of Wisconsin" />
  <area shape="rect" coords="566,137,623,154" href="http://www.ku.edu/ " target="_blank" title="University of Kansas" />
  <area shape="rect" coords="594,154,651,171" href="http://www.indiana.edu/ " target="_blank" title="Indiana University" />
  <area shape="rect" coords="659,148,727,166" href="http://internationalnetworking.iu.edu/initiatives/transpac3/index.html" target="_blank"
title="TransPAC3" />
  <area shape="rect" coords="647,193,718,210" href="http://www.ufl.edu/" target="_blank" title="University of Florida" />
  <!--   <area shape="rect" coords="148,309,165,322" href="http://www.bii.a-star.edu.sg/" target="_blank" title="Bll" /> -->
  <!-- <area shape="rect" coords="173,270,217,285" href="http://www.hcmut.edu.vn/english/" target="_blank" title="HCMUT" /> -->
  <!--  <area shape="rect" coords="168,310,201,322" href="http://ngp.org.sg/" target="_blank" title="NGO" /> -->
  <!--  <area shape="rect" coords="182,161,237,174" href="http://english.kookmin.ac.kr/" target="_blank" title="Kookmin University" /> -->
  <area shape="rect" coords="238,140,271,155" href="http://www.apan.net/ " target="_blank" title="APAN" />
  <area shape="rect" coords="270,171,331,181" href="http://www.titech.ac.jp/home.html" target="_blank" title="GSIC/TITECH" />
  <area shape="rect" coords="394,480,508,493" href="https://www.nesi.org.nz" target="_blank" title="NZ eScience Infrastructure" />
  <area shape="rect" coords="487,112,541,125" href="http://www.pnw-gigapop.net/" target="_blank" title="Pacific Wave" />
  <!--<area shape="rect" coords="529,177,567,193" href="http://www.cicese.mx/" target="_blank" title="CICESE" /> -->
  <!--<area shape="rect" coords="576,272,644,289" href="http://www.cenat.ac.cr/" target="_blank" title="CeNAT-ITCR" /> -->
  <!-- <area shape="rect" coords="611,131,646,146" href="http://www.ncsa.edu/" target="_blank" title="NCSA" /> -->
  <area shape="rect" coords="649,113,744,137" href="http://www.startap.net/" target="_blank" title="StarLight and TransLight" />
          
  </map>
</div>

<h2>Additional Organizations active in PRAGMA</h2>
For more info see <a href="/additional-organizations"> this link </a>


<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>

